### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [132]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [133]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [134]:
number_of_schools = len(school_data)
number_of_schools

15

In [135]:
number_of_students = len(student_data)
number_of_students

39170

In [136]:
total_budget = school_data["budget"].sum()
total_budget

24649428

In [137]:
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [138]:
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [139]:
passing_math_scores = student_data.loc[student_data["math_score"] >= 70]

percent_passing_math = (len(passing_math_scores) / number_of_students) * 100
percent_passing_math

74.9808526933878

In [140]:
passing_reading_scores = student_data.loc[student_data["reading_score"] >= 70]

percent_passing_reading = (len(passing_reading_scores) / number_of_students) * 100
percent_passing_reading

85.80546336482001

In [141]:
percent_math_reading = student_data.loc[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)]
percent_passing_math_reading = (len(percent_math_reading) / number_of_students) * 100
percent_passing_math_reading

65.17232575950983

In [142]:
district_summary_df = pd.DataFrame({
    'Total Schools':[number_of_schools], 
    'Total Students':[number_of_students],
    'Total Budget':[total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score], 
    '% Passing Math': [percent_passing_math], 
    '% Passing Reading': [percent_passing_reading], 
    '% Overall Passing': [percent_passing_math_reading]  })

district_summary_df['Total Students'] = district_summary_df['Total Students'].astype(float).map("{:,.0f}".format)
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].astype(float).map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [161]:
school_type = school_data.set_index(['school_name'])['type']

In [162]:
total_students = school_data_complete['school_name'].value_counts()

In [163]:
school_budget = school_data.groupby('school_name').sum()['budget']

In [164]:
per_student_budget = school_budget / total_students

In [165]:
average_math_score = school_data_complete.groupby('school_name').mean()['math_score']
average_read_score = school_data_complete.groupby('school_name').mean()['reading_score']

In [166]:
number_of_kids_pass_math = school_data_complete.loc[school_data_complete['math_score'] >= 70]
number_of_kids_pass_read = school_data_complete.loc[school_data_complete['reading_score'] >= 70]

In [167]:
percent_pass_math = number_of_kids_pass_math.groupby('school_name').mean()['math_score']
percent_pass_read = number_of_kids_pass_read.groupby('school_name').mean()['reading_score']

In [168]:
number_of_kids_pass_math_reading = number_of_kids_pass_math.loc[number_of_kids_pass_math['reading_score'] >= 70]

In [169]:
kids_in_math = number_of_kids_pass_math_reading.groupby('school_name').count()['math_score'] / total_students
kids_in_reading = number_of_kids_pass_math_reading.groupby('school_name').count()['reading_score'] / total_students

In [170]:
percent_of_kids_who_passed_both = ((kids_in_math + kids_in_reading) / 2) * 100

In [174]:
 # Put all of this into a dataFrame
school_summary_df = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_students, 
    "Total School Budget": school_budget, 
    "Per Student Budget": per_student_budget, 
    "Average Math Score": average_math_score, 
    "Average Reading Score": average_read_score, 
    "% Passing Math": percent_pass_math, 
    "% Passing Reading": percent_pass_read,
    "% Overall Passing": percent_of_kids_who_passed_both
})

school_summary_df['Total Students'] = school_summary_df['Total Students'].astype(float).map("{:,.0f}".format)
school_summary_df['Total School Budget'] = school_summary_df['Total School Budget'].astype(float).map("${:,.2f}".format)
school_summary_df['Per Student Budget'] = school_summary_df['Per Student Budget'].astype(float).map("${:,.2f}".format)
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.048432,81.033963,84.505124,84.362521,54.642283
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,83.972556,84.432612,91.334769
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,84.310894,84.767745,53.204476
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.102592,80.746258,84.165687,84.612799,54.289887
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,84.394602,84.253156,90.599455

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type