### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [47]:
number_of_schools = len(school_data)
number_of_schools

number_of_students = len(student_data)
number_of_students

total_budget = school_data["budget"].sum()
total_budget

average_math_score = student_data["math_score"].mean()
average_math_score

average_reading_score = student_data["reading_score"].mean()
average_reading_score

passing_math_scores = student_data.loc[student_data["math_score"] >= 70]
percent_passing_math = (len(passing_math_scores) / number_of_students) * 100
percent_passing_math

passing_reading_scores = student_data.loc[student_data["reading_score"] >= 70]
percent_passing_reading = (len(passing_reading_scores) / number_of_students) * 100
percent_passing_reading

percent_math_reading = student_data.loc[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)]
percent_passing_math_reading = (len(percent_math_reading) / number_of_students) * 100
percent_passing_math_reading

65.17232575950983

In [48]:
district_summary_df = pd.DataFrame({
    'Total Schools':[number_of_schools], 
    'Total Students':[number_of_students],
    'Total Budget':[total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score], 
    '% Passing Math': [percent_passing_math], 
    '% Passing Reading': [percent_passing_reading], 
    '% Overall Passing': [percent_passing_math_reading]  })

district_summary_df['Total Students'] = district_summary_df['Total Students'].astype(float).map("{:,.0f}".format)
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].astype(float).map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [89]:
school_type = school_data.set_index(['school_name'])['type']

total_students = school_data_complete['school_name'].value_counts()

school_budget = school_data.groupby('school_name').sum()['budget']

per_student_budget = school_budget / total_students

average_math_score = school_data_complete.groupby('school_name').mean()['math_score']
average_read_score = school_data_complete.groupby('school_name').mean()['reading_score']

number_of_kids_pass_math = school_data_complete.loc[school_data_complete['math_score'] >= 70]
number_of_kids_pass_read = school_data_complete.loc[school_data_complete['reading_score'] >= 70]

percent_pass_math = number_of_kids_pass_math.groupby('school_name').count()['math_score'] / total_students * 100
percent_pass_read = number_of_kids_pass_read.groupby('school_name').count()['reading_score'] / total_students * 100

number_of_kids_pass_math_reading = number_of_kids_pass_math.loc[number_of_kids_pass_math['reading_score'] >= 70]

kids_in_math = number_of_kids_pass_math_reading.groupby('school_name').count()['math_score'] / total_students
kids_in_reading = number_of_kids_pass_math_reading.groupby('school_name').count()['reading_score'] / total_students

percent_of_kids_who_passed_both = ((kids_in_math + kids_in_reading) / 2) * 100

In [90]:
 # Put all of this into a dataFrame
school_summary_df = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_students, 
    "Total School Budget": school_budget, 
    "Per Student Budget": per_student_budget, 
    "Average Math Score": average_math_score, 
    "Average Reading Score": average_read_score, 
    "% Passing Math": percent_pass_math, 
    "% Passing Reading": percent_pass_read,
    "% Overall Passing": percent_of_kids_who_passed_both
})

school_summary_df['Total Students'] = school_summary_df['Total Students'].astype(float).map("{:,.0f}".format)
school_summary_df['Total School Budget'] = school_summary_df['Total School Budget'].astype(float).map("${:,.2f}".format)
school_summary_df['Per Student Budget'] = school_summary_df['Per Student Budget'].astype(float).map("${:,.2f}".format)
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [34]:
top_five_performing_schools = school_summary_df.sort_values(["% Overall Passing"], ascending=False)
top_five_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,83.972556,84.432612,91.334769
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,84.497705,84.259585,90.948012
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,84.394602,84.253156,90.599455
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,84.244050,84.526770,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,84.719780,84.680390,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [46]:
top_five_lowest_schools = school_summary_df.sort_values(['% Overall Passing'], ascending=True)
top_five_lowest_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,84.339111,84.374377,52.988247
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,84.310894,84.767745,53.204476
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,84.240084,84.691400,53.513884
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,84.936975,84.483725,53.527508
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,84.742448,84.430566,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [62]:
grade_nine = school_data_complete[school_data_complete['grade'] == '9th']
grade_ten = school_data_complete[school_data_complete['grade'] == '10th']
grade_eleven = school_data_complete[school_data_complete['grade'] == '11th']
grade_twelve = school_data_complete[school_data_complete['grade'] == '12th']

average_math_grade_nine = grade_nine.groupby('school_name')['math_score'].mean()
average_math_grade_ten = grade_ten.groupby('school_name')['math_score'].mean()
average_math_grade_eleven = grade_eleven.groupby('school_name')['math_score'].mean()
average_math_grade_twelve = grade_twelve.groupby('school_name')['math_score'].mean()

In [68]:
average_math_by_grade_df = pd.DataFrame({
    "9th Grade": average_math_grade_nine,
    "10th Grade": average_math_grade_ten,
    "11th Grade": average_math_grade_eleven,
    "12th Grade": average_math_grade_twelve
})

average_math_by_grade_df.head()

                      9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School    77.083676   76.996772   77.515588   76.492218
Cabrera High School   83.094697   83.154506   82.765560   83.277487
Figueroa High School  76.403037   76.539974   76.884344   77.151369
Ford High School      77.361345   77.672316   76.918058   76.179963
Griffin High School   82.044010   84.229064   83.842105   83.356164

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [65]:
grade_nine_r = school_data_complete[school_data_complete['grade'] == '9th']
grade_ten_r = school_data_complete[school_data_complete['grade'] == '10th']
grade_eleven_r = school_data_complete[school_data_complete['grade'] == '11th']
grade_twelve_r = school_data_complete[school_data_complete['grade'] == '12th']

average_reading_grade_nine = grade_nine_r.groupby('school_name')['reading_score'].mean()
average_reading_grade_ten = grade_ten_r.groupby('school_name')['reading_score'].mean()
average_reading_grade_eleven = grade_eleven.groupby('school_name')['reading_score'].mean()
average_reading_grade_twelve = grade_twelve.groupby('school_name')['reading_score'].mean()

In [70]:
average_reading_by_grade_df = pd.DataFrame({
    "9th Grade": average_reading_grade_nine,
    "10th Grade": average_reading_grade_ten,
    "11th Grade": average_reading_grade_eleven,
    "12th Grade": average_reading_grade_twelve
})

average_reading_by_grade_df.head()

                      9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School    81.303155   80.907183   80.945643   80.912451
Cabrera High School   83.676136   84.253219   83.788382   84.287958
Figueroa High School  81.198598   81.408912   80.640339   81.384863
Ford High School      80.632653   81.262712   80.403642   80.662338
Griffin High School   83.369193   83.706897   84.288089   84.013699

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [77]:
bins_school_spending = [0, 585, 630, 645, 680]
group_spending_labels = ["<585", "585-630", "630-645", "645-680"]

school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_student_budget, bins_school_spending, 
                                                           labels=group_spending_labels, 
                                                           include_lowest=True)

spending_average_math = school_summary_df.groupby('Spending Ranges (Per Student)')['Average Math Score'].mean()
spending_average_reading = school_summary_df.groupby('Spending Ranges (Per Student)')['Average Reading Score'].mean()
spending_pass_math = school_summary_df.groupby('Spending Ranges (Per Student)')['% Passing Math'].mean()
spending_pass_read = school_summary_df.groupby('Spending Ranges (Per Student)')['% Passing Reading'].mean()
spending_pass_overall = school_summary_df.groupby('Spending Ranges (Per Student)')['% Overall Passing'].mean()

In [79]:
school_spending_df = pd.DataFrame({
    "Average Math Score": spending_average_math,
    "Average Reading Score": spending_average_reading, 
    "% Passing Math": spending_pass_math,
    "% Passing Reading": spending_pass_read, 
    "% Overall Passing": spending_pass_overall
})

school_spending_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<585,83.455399,83.933814,84.504010,84.457674,90.369459
585-630,81.899826,83.155286,84.486546,84.414657,81.418596
630-645,78.518855,81.624473,84.328349,84.503626,62.857656
645-680,76.997210,81.027843,84.639836,84.535230,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [94]:
size_bin = [0, 1000, 2000, 5000]
size_groups = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_summary_df["School Size"] = pd.cut(school_summary_df['Tota'], size_bin, labels=size_groups, include_lowest=True)

size_average_math = school_summary_df.groupby['School Size']['Average Math Score'].mean()
size_average_reading = school_summary_df.groupby['School Size']['Average Reading Score'].mean()
size_pass_math = school_summary_df.groupby['School Size']['% Pasing Math'].mean()
size_pass_read = school_summary_df.groupby['School Size']['% Passing Reading'].mean()
size_pass_overall = school_summary_df.groupby['School Size']['% Overall Passing'].mean()

TypeError: 'method' object is not subscriptable

## Scores by School Type

* Perform the same operations as above, based on school type